* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", "Noto Sans KR", sans-serif;
  line-height: 1.6;
  color: white;
  background: #333;
}

a {
  text-decoration: none;
}

.section{
  min-height: 100vh;
  margin: 20px 0;
  padding: 0 10px;
  padding-top: 100px;
}

.inner {
  width: 100%;
  margin: 0 auto;
}

.main {
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 50px;
  text-align: center;
  color: pink;
}

.title::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: pink;
  margin: 10px auto 0;
}

.wrap {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.animate-flash {
  animation-name: flash;
  animation-duration: 0.5s;
  /* animation-timing-function: cubic-bezier(.43,.19,.02,1); */
  animation-iteration-count: 2;
}

/* VISUAL */
/*-------------------------------------------*/


/*ASIDE*/
/*-------------------------------------------*/
.side-wrap {
  top: 0;
  right: 0;
  position: fixed;
  width: 15%;
  height: 100vh;
  z-index: 1000;
}

.aside {
  margin-top: 100px;
}

.aside ul li {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  background-color: #333;
  border: 1px solid #444;
  height: 60px;
  border-radius: 50px 0 0 50px;
  transition: 0.3s;
}

.aside ul li.active {
  background-color: pink;
}

.aside ul li.active a {
  color: #333;
}

.aside ul li a {
  line-height: 60px;
  display: block;       
  width: 100%;           
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.aside ul li:hover {
  border: 1px solid pink;
}

/*스크롤 매직으로 li백그라운드 컬러 변경하기*/

/*-------------------------------------------*/
.main {
  margin-left: 0;
  width: 85%;
  padding: 20px;
}

.content {
  padding-left: 40px;
}

.header {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header > h1 {
  font-size: 50px;
  font-weight: 800;
}

.header > h2 {
  font-size: 40px;
  font-weight: 800;
  color: pink;
  margin: 40px 0;
}

.header > div {
  font-size: 30px;
  font-weight: 800;
}
.header > h3 {
  margin-top: 30px;
}

/*ABOUT*/
/*-------------------------------------------*/
.about {
 
}

.about > .inner {
  position: relative;
}

.about .about__wrapper{
  display: flex;
  justify-content: space-between;

  opacity: 0;
  transform: translateX(-150px);
  transition: 2s;
}

.about.show .about__wrapper {
  display: flex;
  justify-content: space-between;

  opacity: 1;
  transform: translateX(0);
}

.about .about__wrapper .about__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  row-gap: 40px;
}

.about .about__wrapper .about__profile li {
  margin: 15px;
  font-size: 20px;
}

.about .about__wrapper .about__profile img {
  width: 50%;
  border-radius: 50%;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
}

.about .about__wrapper .about__profile .profile {
  text-align: center;
}

.about .about__wrapper .about__text {
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about .about__wrapper .about__profile .slogan {
  font-size: 35px;
  font-weight: bold;
}

.profile a{
  color: pink;
}

.about .about__wrapper .about__text h3 {
  font-size: 20px;
  font-weight: 600;
}
.about .about__wrapper .about__text h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}
.about .about__wrapper .about__text li {
  line-height: 1.8;
}
.about .about__btn {
  position: absolute;
  bottom: -30px;
  right: 30px;
}

/* .about .about__btn a{
  display: flex;
  align-items: center;
} */

.about .about__btn img {
  display: inline;
  vertical-align: middle; /*인라인 요소글끼리 가운데로 */
  width: 28px;
  margin-right: 10px;
}

/*SKILL*/
/*----------------------------------------------*/
.skill{
}

.skill .inner{
  display: flex;
  justify-content: center;
}

.skill-table{
  width: 70%;
  padding: 40px;
  background-color: #222;
  border-radius: 10px;
  
}

/*PROJECT*/
/*----------------------------------------------*/
.project{
}

.project > .inner {
  
}
.project__card{
  position: relative;
  width: 100%;
  height: 420px;
  margin: 0 auto;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.project__card .card{
  position: absolute;
  top: 48%;
  left: 50%;
  width: 600px;
  height: 360px;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0,0,0,.28);
  transform-origin: center;
  transition: transform .5s ease;

  background-position: center;     /* 중앙 기준으로 */
  background-repeat: no-repeat;    /* 반복 방지 */
  background-size: cover;          /* 카드 전체에 꽉 차게 (잘려도 비율 유지) */
  overflow: hidden;
}

.project__card .center{
  transform: translate3d(-50%, -50%, 80px);
  z-index: 3;
}

:root { --card-gap: 280px; } 

.project__card .prev{
  transform: translate3d(calc(-50% - var(--card-gap)), -50%, -80px) rotateY(8deg);
  z-index: 1;
  filter: blur(3px);
}

.project__card .next{
  transform: translate3d(calc(-50% + var(--card-gap)), -50%, -80px) rotateY(-8deg);
  z-index: 2;
  filter: blur(3px);
}

.project-btn{
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project-btn div{
  text-align: center;
}

.project-btn div > span{
  width: 50px;
}

.button-prev{
  cursor: pointer;
}
.button-next{
  cursor: pointer;
}

.project-text{
  text-align: center;
  padding: 10px;
}

.project-text li a{
  color: pink;
}

/*FOOTER*/
/*----------------------------------------------*/
footer {
  background: linear-gradient(180deg, #333, #4e3b3e, #76595e);
  color: white;
}

footer .copyright {
  text-align: center;
  font-weight: 600;
  line-height: 200px; /*수직 정렬*/
}



/*ANIMATION*/
/*----------------------------------------------*/
@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
