* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", "Noto Sans KR", sans-serif;
  line-height: 1.6;
  color: white;
  background: #333;
}

a {
  text-decoration: none;
}

.section{
  border: 1px solid red;
  min-height: 90vh;
  margin: 20px 0;
  padding: 30px 10px;

}

.inner {
  width: 100%;
  margin: 0 auto;
}

.main {
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 50px;
  text-align: center;
  color: pink;
}

.title::after {
  content: "";
  display: block;
  width: 80px;
  height: 2px;
  background-color: pink;
  margin: 10px auto 0;
}

.wrap {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

/*ASIDE*/
/*-------------------------------------------*/
.side-wrap {
  top: 0;
  right: 0;
  position: fixed;
  width: 15%;
  height: 100vh;
  z-index: 1000;
}

.aside {
  margin-top: 100px;
}

.aside ul li {
  text-align: center;
  margin-bottom: 20px;
  background-color: #333;
  border: 1px solid #444;
  height: 50px;
  border-radius: 50px 0 0 50px;
}

.aside ul li a {
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.aside ul li:hover {
  border: 1px solid pink;
}

/*스크롤 매직으로 li백그라운드 컬러 변경하기*/

/*-------------------------------------------*/
.main {
  margin-left: 0;
  width: 85%;
  padding: 20px;
}

.content {
  padding-left: 40px;
}

.header {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header > h1 {
  font-size: 50px;
  font-weight: 800;
}

.header > h2 {
  font-size: 40px;
  font-weight: 800;
  color: pink;
  margin: 40px 0;
}

.header > div {
  font-size: 30px;
  font-weight: 800;
}
.header > h3 {
  margin-top: 30px;
}

/*ABOUT*/
/*-------------------------------------------*/
.about {
 
}

.about > .inner {
  position: relative;
}

.about .about__wrapper{
  display: flex;
  justify-content: space-between;

  opacity: 0;
  transform: translateX(-150px);
  transition: 2s;
}

.about.show .about__wrapper {
  display: flex;
  justify-content: space-between;

  opacity: 1;
  transform: translateX(0);
}

.about .about__wrapper .about__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  row-gap: 40px;
}

.about .about__wrapper .about__profile li {
  margin: 15px;
  font-size: 20px;
}

.about .about__wrapper .about__profile img {
  width: 50%;
  border-radius: 50%;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
}

.about .about__wrapper .about__profile .profile {
  text-align: center;
}

.about .about__wrapper .about__text {
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about .about__wrapper .about__profile .slogan {
  font-size: 35px;
  font-weight: bold;
}
.about .about__wrapper .about__text h3 {
  font-size: 20px;
  font-weight: 600;
}
.about .about__wrapper .about__text h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
}
.about .about__wrapper .about__text li {
  line-height: 1.8;
}
.about .about__btn {
  position: absolute;
  bottom: -30px;
  right: 30px;
}

/* .about .about__btn a{
  display: flex;
  align-items: center;
} */

.about .about__btn img {
  display: inline;
  vertical-align: middle; /*인라인 요소글끼리 가운데로 */
  width: 28px;
  margin-right: 10px;
}

/*SKILL*/
/*----------------------------------------------*/
.skill{
  border: 1px solid red;
}

.skill .inner{
  display: flex;
  justify-content: center;
}

.skill-table{
  width: 70%;
  padding: 40px;
  background-color: #222;
  border-radius: 10px;
  
}

/*FOOTER*/
/*----------------------------------------------*/
footer {
  background: linear-gradient(180deg, #333, #4e3b3e, #76595e);
  color: white;
}

footer .copyright {
  text-align: center;
  font-weight: 600;
  line-height: 200px; /*수직 정렬*/
}
