* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: white;
}
a{
  text-decoration: none;
}

.inner {
  border: 1px solid red;
}

.section{
  border: 1px solid greenyellow;
  width: 100%;
}

.title {
  font-size: 40px;
  font-weight: 800;
  text-align: left;
  margin-bottom: 50px;
}


.wrap{
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.side-wrap {
  width: 260px;
  background: #222;
}

.aside {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside ul li{
  margin-bottom: 20px;
}

.aside ul li a{
  color: white;
}

.wrap > section:nth-child(2) {
  flex: 1;
  background: #333;
}

.content {
  border: 1px solid greenyellow; 
  padding: 20px;
  width: 100%;
}

.content-menu > h2{
  border-bottom: 1px solid #444;
}

.content > .inner{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


